/* Container for background video and content */
.bg-home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Overlay with semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeInOverlay 1s ease-out;
}

/* Animation for overlay fade-in effect */
@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 2;
}

.hero {
  margin-bottom: 2rem;
  animation: slideUpText 1.5s ease-in-out;
}

/* Slide-up animation for the text */
@keyframes slideUpText {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.tags {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  max-width: 700px;
  animation: fadeInText 2s ease-in;
}

/* Fading animation for the description */
@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* HeroBox Styling */
.heroBox {
  margin-top: 2rem;
  width: 100%;
  max-width: 400px;
  height: 250px;
  position: relative;
  animation: imageFadeIn 2s ease-in-out;
}

.heroBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  animation: zoomIn 1.5s ease-in-out;
  transition: transform 0.3s ease;
}

.heroBox img:hover {
  transform: scale(1.05);
}

/* Image fade-in animation */
@keyframes imageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Image zoom animation */
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

/* Responsive Design */
@media (max-width: 1200px) {
  .bg-home{
    height: 150vh;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .tags {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .bg-home{
    height: 100vh;
  }

  .hero-container{
    flex-direction: column;
  }
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
    max-width: 600px;
  }

  .heroBox {
    max-width: 350px;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.9rem;
    max-width: 400px;
  }

  .heroBox {
    max-width: 300px;
    height: 180px;
  }
}
