  .contact-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--foot);
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19.8%;
    height: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0.3px solid rgb(47, 76, 114);
  }
  
  .logo-image {
    width: 80px; /* Adjust based on logo size */
    height: 60px;
  }
  
  .contact-link-button {
    background-color: var(--link-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
  }
  
  .contact-link-button:hover {
    background-color: #0056b3;
  }
 
  /* For large screens */
  @media (min-width: 1024px) {
    .contact-container {
      display: flex;
      flex-direction: row;
    }
  }
  
  /* For mobile screens */
  @media (max-width: 924px) {
    .contact-container {
      flex-direction: column;
    }
    .contact-section{
        width: 96%;
        align-items: start;
        padding-left: 30px;
    }
  }
  