.faq-container {
    margin-top: 5rem;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .faq-list {
    margin-top: 1rem;
  }
  
  .faq-item {
    margin-bottom: 0.5rem;
    border: 1px solid rgb(40, 40, 151);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-question {
    background-color: var(--heading);
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-question:hover {
    background: var(--link-color);
  }

  .faq-question h3{
    color: white;
    font-size: 1rem;
    width: 80%;
    text-align: left;
    font-family: "Playfair Display", serif;
  }
  .faq-h2{
    color: white;
  }
  
  .faq-arrow {
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    color: white;
  }
  
  .faq-arrow.rotate {
    transform: rotate(180deg); /* Rotates the arrow */
  }
  
  .faq-answer {
    padding: 1rem;
    background-color: var(--bg);
    font-size: 0.95rem;
    color: var(--headings);
    font-family: "Playfair Display", serif;
    
  }
  
  .faq-answer p {
    margin: 0;
  }

  @media (max-width: 768px) {
    .faq-container {
      width: 100%;
    }
  }
  