/* General Footer Styling */
.footer {
    background-color: var(--headings);
    color: #e4e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }
  
  .home-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 90%;
  }
  
  .footer-ul {
    list-style: none;
    padding: 0;
    flex: 1;
    text-align: center;
  }
  
  .footer-ul h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ece8e8;
  }
  
  .footer-ul ul {
    margin: 0;
    padding: 0;
  }
  
  .footer-ul li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
  }
  
  .footer-ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-ul .vis a:hover {
    color: #f39c12;
  }
  
  .visa{
    display: flex;
    flex-direction: column;
  }

  .visa h3 {
    font-size: 1.5rem;
    color: var(--link-color);
    margin-bottom: 1rem;
  }
  
  .visa .vi{
    color: white;
    margin: 7px;
  }

  /* Social Media Icons */
  .footer-media-large-screen {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 1.5rem;
  }
  
  .footer-media-large-screen a {
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .footer-media-large-screen a:hover {
    color: #f39c12;
  }
  
  /* Feedback Component */
  .large-screen-feedback {
    margin-top: 2rem;
    margin-left: 20px;
  }
  
  .large-screen-feedback h3 {
    color: var(--link-color);
  }
  
  /* Copyright Section */
  .home-footer-under-large {
    width: 100%;
    border-top: 0.5px solid grey;
    margin-top: 2rem;
    padding:10px 0;
    font-size: 1rem;
    color: #ddd;
  }

  .home-footer-under-large b {
    color: var(--link-color);
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .home-footer {
      flex-direction: column;
      align-items: start;
      gap: 1rem;
    }

    .footer-ul{
      padding-left: 10px;
      text-align: left;
    }
    .footer-ul ul{
      margin-top: 40px;
    }
  
    .footer-ul h3 {
      font-size: 1.1rem;
    }

    .foot-p{
      text-align: start;
    }
  
   .home-footer-under-large {
      font-size: 0.8rem;
    }
    
  }
  