.footer{
    width: 100%;
    bottom: 0;
}


.home-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    background: #0d2041;
    
    
}
.footer-ul{
    color: white;
    width: 250px;
    
    margin: 20px 10px;
}
.footer-ul ul{
    list-style: none;
}
@media screen and (max-width: 480px){
    .home-footer{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
       height: 600px;
       width: 100%;
       background: #0d2041;
       margin-top: 300px;
}
.footer-ul{
    color: white;
    width: 180px;
    margin: 5px;
}
}