.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: white;
    position: relative;
    overflow: hidden;
  
    /* Add background image with gradient overlay */
    background:
    linear-gradient(rgba(0, 37, 92, 0.9), rgba(12, 0, 92, 0.9)),
      url(../../public/images/hero.png)center/cover no-repeat;
  }
  
  /* Hero Content */
  .hero-content {
    z-index: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(5px); 
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
  }
  
  
  /* Animations for background circles */
  .hero::before,
  .hero::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    animation: float 8s infinite ease-in-out;
    z-index: 0;
  }
  
  .hero::before {
    width: 400px;
    height: 400px;
    top: 10%;
    left: -50px;
    animation-delay: 0s;
  }
  
  .hero::after {
    width: 300px;
    height: 300px;
    bottom: 10%;
    right: -50px;
    animation-delay: 3s;
  }
  
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(30px);
    }
  }
  
  /* Hero Content */
 
  
  .herro-heading {
    font-family: var(--heading-font-family);
    font-size: 3.5rem;
    width: 80%;
    color: #ffffff;
    margin: 0;
    line-height: 1.2;
    animation: fadeInDown 1.5s ease;
  }
  
  .hero-subtext {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: white;
    animation: fadeInUp 2s ease;
  }
  
  .hero-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    color: white;
    background: #ff0000;
    border: none;
    cursor: pointer;
    animation: fadeIn 2.5s ease;
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: var(--button-hover);
  }
  
  /* Keyframes for animations */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero{
      height: 65vh;
    }

    .hero-heading{
      font-size: 2rem;
    }
    .hero-heading {
      font-size: 2.6rem;
    }
  
    .hero-subtext {
      font-size: 1rem;
    }
  
    .hero-button {
      font-size: 0.9rem;
      padding: 0.6rem 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .hero-heading {
      font-size: 2rem;
    }
  
    .hero-subtext {
      font-size: 0.9rem;
    }
  
    .hero-button {
      font-size: 0.8rem;
      padding: 0.5rem 1.2rem;
    }
  }
  