.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: yellow;
    position: relative;
    overflow: hidden;
    background:
    linear-gradient(rgba(0, 37, 92, 0.9), rgba(12, 0, 92, 0.9)),
      url(../../public/images/hero.png)center/cover no-repeat;
  }
  
  .herro-content {
    z-index: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(5px); 
    background: rgba(0, 0, 0, 0.3);
  }
  
  .hero::before,
  .hero::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    animation: float 8s infinite ease-in-out;
    z-index: 0;
  }
  
  .hero::before {
    width: 400px;
    height: 400px;
    top: 10%;
    left: -50px;
    animation-delay: 0s;
  }
  
  .hero::after {
    width: 300px;
    height: 300px;
    bottom: 10%;
    right: -50px;
    animation-delay: 3s;
  }
  
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(30px);
    }
  }
  
  /* Hero Content */
 
  
  .herro-heading {
    font-family: var(--heading-font-family);
    font-size: 3.5rem;
    width: 80%;
    color: var(--ye);
    margin: 0;
    line-height: 1.2;
    animation: fadeInDown 1.5s ease;
  }
  
  .herro-subtext {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: white;
    animation: fadeInUp 2s ease;
  }
  
  .hero-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    margin: 15px 0;
    color: white;
    background: #ff0000;
    border: none;
    cursor: pointer;
    animation: fadeIn 2.5s ease;
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: var(--button-hover);
  }
  
  /* Keyframes for animations */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero{
      height: 65vh;
    }

    .herro-content{
      width: 100%;
      padding: 0;
    }

    .hero-heading{
      font-size: 2rem;
    }
    .herro-heading {
      font-size: 3rem;
    }
  
    .herro-subtext {
      font-size: 1.3rem;
    }
  
    .herro-button {
      font-size: 1.3rem;
      padding: 0.6rem 1.5rem;
      margin-top: 20px;
    }
  }
  /* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Popup Content */
.popup {
  background: var(--ye);
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-height: 60vh;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

/* Welcome Message */
.popup-welcome {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--heading-font-family);
  color: var(--headings);
}

/* Popup List */
.popup-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-list li {
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  border: 0.5px solid var(--headings);
}

.popup-list a {
  color: #ff0000;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.popup-list a:hover {
  color: #ff0000;
}

/* Close Button */
.popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup-close-button:hover {
  color: #ff0000;
}

/* Keyframes for Popup Fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
