/* Container for the moving train */
.train-container {
    position: relative;
    width: 100%;
    overflow: hidden; 
    background: var(--ye);
    padding: 10px 0;
  }
  
  /* The moving train */
  .moving-train {
    display: flex;
    gap: 50px;
    animation: train-scroll 40s linear infinite;
    font-family: "Playfair Display", serif;
    font-size: 7.5rem;
    font-weight: bold;
    color: var(--link-color); 
    white-space: nowrap; 
    background: var(--ye);
  }
  
  /* Individual words */
  .moving-train .sp1 {
    background: var(--ye); 
    color: var(--link-color); 
    padding: 25px;
  }
  .moving-train .sp2 {
    background: var(--ye);
    color: grey; 
    padding: 25px;
  }
  
  /* Animation for the train */
  @keyframes train-scroll {
    from {
      transform: translateX(100%); /* Start off-screen on the right */
    }
    to {
      transform: translateX(-350%); /* End off-screen on the left */
    }
  }
  
  /* Media Query for Mobile Screens */
  @media (max-width: 768px) {
    .moving-train {
      font-size: 5.6rem; /* Adjust font size for smaller screens */
    }
    
    @keyframes train-scroll {
      to {
        transform: translateX(-300%); /* End off-screen on the left */
      }
    } 
    
  }

  @media (max-width: 480px) {

    @keyframes train-scroll {
      to {
        transform: translateX(-500%); /* End off-screen on the left */
      }
    } 
    
  }
  