.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px;
  height: 50px;
  background: var(--ye);
  color: var( --headings);
  position: sticky;
  top: 0;
  z-index: 5000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bottom shadow */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 2%;
}

.navbar-brand h3 {
  margin-left: 5px;
  font-family: var(--heading-font-family);
}

.navbar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hide toggle on larger screens */
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  transition: transform 0.3s ease;
}

.navbar-menu li {
  padding: 10px 0;
}

.navbar-menu a {
  color: #00255c;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-menu a:hover {
  color: var(--link-color);
}

/* Desktop View */
@media (min-width: 768px) {
  .navbar-menu {
    transform: translateX(0);
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .navbar {
    height: auto;
  }

  .navbar-brand h3 {
    margin-left: 0px;
    font-family: var(--heading-font-family);
  }

  .navbar-toggle {
    display: block;
    z-index: 4444;
  }

  .navbar-menu {
    position: fixed;
    top: -15px;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--ye);
    flex-direction: column;
    align-items: center;
    transform: translateX(100%); /* Initially off-screen */
    transition: transform 0.4s ease; /* Slide-in transition */
    z-index: 1000;
  }

  .navbar-menu.open {
    transform: translateX(0); /* Slide in when open */
  }

  .navbar-menu li {
    margin: 10px 0;
    width: 100%;
  }
}
