.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 250px;
}

.newsletter-container {
  background: #b5c9cc;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.newsletter-box-for-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-box-for-form h2{
  font-size: 19px;
  color: #00255c;
  font-family: "Playfair Display", serif;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newsletter-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--link-color);
  border-radius: 4px;
}

.newsletter-form input::placeholder{
  color: #00255c;
}

.newsletter-button {
  padding: 10px;
  border: none;
  background: var(--link-color);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Playfair Display", serif;
}

.newsletter-button:hover {
  background: #ff0000;
}