.single-visa-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.visa-banner {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.visa-title {
  font-size: 2.5rem;
}

.visa-details {
  margin-top: 20px;
  text-align: left;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: var(--ye);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.visa-details h2 {
  font-size: 1.8rem;
  color: var(--headings);
  margin-bottom: 10px;
}

.visa-details p {
  font-size: 1.2rem;
  color: var(--headings);
  line-height: 1.6;
}
