.single-country-container {
    padding: 5px;
  }
  
  .single-country-header {
    text-align: center;
  }
  
  .single-country-flag {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .single-country-name {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .single-country-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .single-country-images {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    margin: 30px 0;
  }

  .single-country-image-container {
    text-align: center;
    margin: 5px;
  }
  
  .single-country-image {
    width: 100%;
    height: 220px;
    border-radius: 8px;
  }
  
  .image-place-name {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }

  .single-country-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .single-country-details ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .single-country-container p{
    text-align: left;
  }

  @media screen and (max-width: 768px){
    
  .single-country-details{
    justify-content: start;
  }
    .single-country-image {
      height: auto;
    }
  }
  