.testimony-container {
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.testimony-cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 20px;
}
.testimony-card {
  max-width: 40%;
  text-align: start;
  background-color: rgb(232, 234, 234);
  margin: 0 10px;
  border-radius: 10px;
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.testimony-card:hover{
  background: var(--link-color);
}
.testimony-card:hover .testimony-text{
  color: #fff;
}

.test-p{
  font-size: 14px;
  color: var(--link-color);
  margin-top: 0;
}

.testimony-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  position: relative;
  text-align: start;
  font-family: 'poppins', sans-serif;
} 
.testimony-text::before{
  font-size: 3.5rem;
  content: " '' ";
  margin-left: -20px;
  color: var(--link-color);
  
}

.testimony-text::after{
  font-size: 3.2rem;
  content: " '' ";
  margin-left: 50px;
  color: var(--link-color);
  top: 92%;
  position: absolute;
  right: 5px;
}

.testimony-name {
  font-size: 1.2rem;
  font-weight: bold;

  color: var(--headings);
}
.testimony-nav {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px;
}

.scroll-button {
  background: var(--link-color);
  color: #fff;
  width:50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
}

.scroll-button:hover {
  background: #000;
}
@media screen and (max-width: 768px){
  .testimony-card {
   
    max-width: 80%;
  }
}