.video-testimony-containerr {
    padding: 10px 0;
    background-color: #f9f9f9;
    text-align: center;
    width: 100%;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .testimony-gridd {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 50%;
  }
  
  .testimony-cardd {
    position: relative;
    background: #fff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 260px;
  }
  
  .testimony-video {
    width: 100%;
    height: 80%;
    border-radius: 8px 8px 0 0;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    background: rgba(11, 11, 203, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none; /* Ensures the video is clickable */
    transition: opacity 0.3s;
  }
  
  .video-overlay.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .overlay-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -20px;
  }
  
  .testimony-info {
    padding: 10px;
    text-align: left;
  }
  
  .testimony-name {
    font-size: 14px;
    color: #555;
    font-style: italic;
  }
  @media screen and (max-width: 768px){
    .testimony-gridd{
      width: 95%;
    }
    .testimony-cardd{
      height: auto;
    }
    .testimony-video{
      height: auto;
    }
  }