.world-media-partner-container {
    padding: 20px 0;
    width: 100%;
    background: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
    margin:0 auto;
  }
  
  .media-card {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .media-logo {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .media-name {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .media-desc {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .media-website {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  