
  .contact-page {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--ye);
  }
  
  .contact-header {
    background: #00255c;
    color: #fff;
    padding: 15px;
  }
  
  .animated-heading {
    font-size: 2rem;
    animation: fadeInDown 1s ease-in-out;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
    margin:0 auto;
  }
  .contact-form{
    max-width: 50%;
  }
  /* Banner Section */
.contact-banner {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(../../../public/images/hero.png) no-repeat center center/cover;
}

.contact-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-banner .overlay h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
  .contact-details {
    background: var(--ye);
    border-radius: 8px;
    color: #00255c;
    max-width: 500px;
    height: 500px;
    margin: 10px;
    padding: 10px;
  }
  .dessc{
    margin: 10px;
    max-width: 400px;
    text-align: left;
  }
  .contact-info, .social-media{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .social-icons a {
    color: #00255c;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: var(--link-color);
  }
  
  .map-container {
    margin: 30px 0;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media screen and (max-width: 768px) {
    .contact-container{
      justify-content: center;
    }
    .contact-form{
      max-width: 95%;
    }

    .contact-details{
      width: 85%;
    }
    .map-container{
      width: 90%;
      padding: 0;
      margin: auto;
    }
  }