.admin-dashboard {
  padding: 20px;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.toggle-button {
  background-color: #ffa07a;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #ff7f50;
}

.applications-list,
.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.application-card,
.user-card {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.application-card:hover,
.user-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.application-card h3,
.user-card h3 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: var(--headings);
}

.application-card p,
.user-card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #333;
}

.application-card p strong,
.user-card p strong {
  color: #ffa07a;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #ff1a1a;
}
