.admin-dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .admin-dashboard h2, .admin-dashboard  h3 {
    color: #333;
  }
  
  .admin-dashboard  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .admin-dashboard  table, th, td {
    border: 1px solid #ccc;
  }
  
  .admin-dashboard  th, .admin-dashboard  td {
    padding: 10px;
    text-align: left;
  }
  
  .admin-dashboard  th {
    background-color: #f4f4f4;
  }
  
  .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }
  