.about{
    width: 100%;
    overflow-x: hidden;
}

.about-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 500px;
   
    
}.about-details div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -440px;
    margin-top: -100px;
    margin-right: 200px;
}

.about-details div ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-details div ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    list-style: none;
    color: white;
    padding: 3px 7px;
    font-weight: 600;
    cursor: pointer;
    border:1px solid #333;
}
.about-details div ul li:hover{
    color: aqua;
    background: #333;
    border-radius: 4px;
}
.about-details h2{
    
    color: white;
    font-weight: bolder;
    font-family: "sanserif";
    
}

.about h1{
    color: white;
    font-weight: bolder;
    font-family: "sanserif";
    font-size: 50px;
}
.about p{
    color: white;
    font-family: "roboto";
    font-size: 20px;
    width: 700px;
}
.about-details-drop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background: white;
    z-index: 2000;
    left: 800px;
    top: 270px;
    position: absolute;

}


/* -----------staff details------------- */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about h3{
    width: 650px;
    color: #666;
}
.about-staff{
 display: grid;grid-template-columns: auto auto auto auto;
   grid-gap: 20px;
   place-content: center;
}
.about-staff .staff{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 400px;
    margin: 40px 20px;
    background: white;
 
}
.about-staff .staff img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}
.about-staff .staff h2{
    color: black;
}
.about-staff .staff p{
    color: grey;
    font-size: 14px;
    width: 170px;
    font-family: "san-serif";
    text-align: center;
}
.about-staff .staff .staff-social{
    display: flex;
}
.about-staff .staff .staff-social div{
    display: flex;align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 3px;
    color: grey;
    border: 1px solid grey;
    border-radius: 50%;
}

/* -----------footer---------------- */

.about-footer{
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5));
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 100px;
    
}
.about-footer div{
    width: 200px;
    height: 250px;
    color: white;
    text-align: left;
}
.about-footer div p{
   width: 190px;
   text-align: left;
}
.about-footer div h3{
   color: white;
   font-family: "roboto";
   cursor: pointer;
 }
 /* ------------------tab screen---------------------- */

@media screen and (max-width: 768px){
.about-details div h3{
        color: #fff;
        margin-left: 260px;
    }
.about p{
        color: white;
        font-family: "roboto";
        font-size: 20px;
        width: 450px;
    }
.about h3{
        width: 500px;
        color: #666;
}
    .about-footer{
        margin-top: 30px;
        width: 100%;
        height: auto;
        background:rgba(51, 51, 51, 0.5);
       display: grid;
       grid-template-columns: auto auto ;
       place-content: center;
       grid-gap: 20px;
    }
    .about-footer div{
        margin: 10px;
        width: 300px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid grey;
    }
    .about-footer div p{
        width: 180px;
    }
    .about-footer div a h3 {
        text-decoration: none;
        color: white;
    }
    .about-footer div h3 {
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin-left: 450px;
    }
}

/* ------------------mobile screen---------------------- */

@media screen and  ( max-width: 480px) {
    
  
    .about-details div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 140px;
        border-bottom: 1px solid rgb(6, 6, 64);
    }
    .about-details div h3{
        color: #fff;
        margin-left: 60px;
    }
    .about-details div ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
        margin-left: -80px;
        /* flex-direction: column; */
    }
    .about p{
        color: white;
        font-family: "roboto";
        font-size: 20px;
        width: 350px;
    }
    .about-details-drop{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        height: 430px;
        background: white;
        z-index: 1000;
        left: 50px;
        top: 280px;
        left: -50px;
        top: 220px;
        position: absolute;
    
    }

/* ---------------staff details-------------- */
   .about h3{
        width: 400px;
        color: #666;
}

    .about-staff{
        display: grid;
        grid-template-columns: auto ;
        grid-gap: 20px;
        place-content: center;
       }
    .about-staff .staff{
       width: 80%;
    }
    .about-staff .staff img{
        width: 140px;
        height: 140px;
    }

    /* ----------footer details-------------- */
    .about-footer{
        margin-top: 30px;
        width: 100%;
        height: auto;
        background:rgba(51, 51, 51, 0.5);
       display: grid;
       grid-template-columns: auto auto;
       place-content: center;
       grid-gap: 10px;
    }
    .about-footer div{
        margin: 5px;
        width: 200px;
        height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }
    .about-footer div p{
        width: 90%;
    }
    .about-footer div a h3 {
        text-decoration: none;
        color: white;
        margin-bottom: -20px;
    }
    .about-footer div h3 {
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin-left: 250px;
        margin-bottom: -20px;
    }
    
}
