.contact-form{
    display: flex;
    align-items: center;
    height: 400px;
    width: 380px;
    background: #826afb;
    margin-top: -50px;
}

.contact-form form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
    margin: 10px;
}

.contact-form h1{
   font-size: 20px;
   text-align: center;
   color: #fff;
}
.contact-form form .input-box{
    margin-top: 15px;
    width: 100%;
}
.contact-form form .input-box .field{
    width: 90%;
    height: 40px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 5px;
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}
.contact-form form .input-box .field.message{
    height: 100px;
    resize: none;
}
.contact-form form button{
    background: #826afb;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 15px;
}
.contact-form form button:Hover{
  background: blueviolet;
}