.contact{
    background: pink;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px slid grey;
    background: rgb(188, 81, 154);
}
.contact-button button{
    padding: 3px 5px;
    margin: 10px;
    cursor: pointer;
    background: rgb(6, 6, 64);
    color: white;
    border: 1px solid white;
}