.home{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    width: 100%;
    height: auto;
}
.small-screen-feedback{
    display: none;
}
@media screen and (max-width: 768px) {
    .small-screen-feedback{
        display: flex;
    }
}