.hotel-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(6,6,64);
    padding-bottom: 200px;
}
.hotel-list h1{
    color: white;
}
.hotel-container{
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    width: 90%;
}
.hotel-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background: pink;
    border: 0.5px solid grey;
    margin: 10px 20px;
    padding-bottom: 20px;
}
.hotel-box img{
    top: 0;
    width: 100%;
    height: 250px;
}
.view-hotel{
    color: white;
    padding: 5px;
    background: blue;
    border-radius: 5px;
    border: 2px 2px 5px rgba(0,0,0,0.5);
}
.view-hotel:hover{
    background: rgb(0,0,0,64);
}

@media screen and (max-width: 480px) {
    .hotel-container{
        display: grid;
        grid-template-columns: auto auto ;
        place-content: center;
        width: 90%;
    }
    .hotel-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 200px;
        height: 300px;
        background: pink;
        border: 0.5px solid grey;
        margin: 10px;
    }
    .hotel-box img{
        width: 100%;
        height: 150px;
    }
}