.tour-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.tour-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 550px;
    box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.5);
    margin: 20px 10px;
}
.tour-detail img{
    width: 40%;
    height: 400px;
}
.tour-details-container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tour-description{
    width: 45%;
    height: auto;

}
.tour-description .info{
    font-weight: 900;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tour-description .description{
    font-family: Georgia,  serif;
    text-align: center;

}

@media screen and (max-width: 480px){
    
    .tour-detail{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 70%;
        box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.5);
        margin: 20px 10px;
    }
    .tour-detail img{
        width: 100%;
        height: 300px;
    }
    .tour-details-container{
        width: 90%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .tour-description{
        width: 90%;
    
    }
}