  .have-account{
    color:#009dff;
    margin: 20px;
  }

  .success{
    color: aqua;
    font-size: 14px;
    padding: 20px;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    padding: 20px;
  }

  
  