:root {
  
  --body-font-family: "DM Sans", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-font-bold: 600;
  --text-color: #5d666f;
  --link-color: #fd413b;
  --bg: #f7f7f7;
  --ye: #dce8f3  ;
  --headings: #00255c;
  --foot: #04204b;
  --btn-font-size: 14px;
  --theme-light-background: #f4f5f8;
  --mobile-menu-item-indicator-bg-color: var(--theme-color2);
  --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
}

.App {
  text-align: center;
  overflow: hidden auto;
  box-sizing: border-box
}

body {
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
li, a{
  text-decoration: none;
  list-style: none;
  
}

/* Scroll to Top Button */
.scroll-to-top {
  bottom: 80px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0.7;
  position: fixed;
  border: 0.5px solid grey;
  background: var(--link-color);
  z-index: 2222;
  color: white;
  font-size: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 10px;
}

.scroll-to-top:hover {
  opacity: 1;
}
button, a{
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 1px;
  height: 10px;
}

.abbout-title {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: var(--link-color); 
  margin: 10px;
  letter-spacing: 1px;
  text-align: left;
}

.abbout-heading {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  text-align: left;
  color: #00255c;
  line-height: 1.5;
  margin: 10px;
}

.button1 {
  background-color: var(--link-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  li, a,h1,h2, h3, h4, h5, p{
    text-decoration: none;
    list-style: none;
    font-family: "montserrat, poppins ";
  }
}


