:root {
  --body-font-family: "DM Sans", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-font-bold: 600;
  --text-color: #5d666f;
  --link-color: #fd413b;
  --bg: #f7f7f7;
  --ye: #dce8f3  ;
  --headings: #00255c;
  --foot: #04204b;
  --btn-font-size: 14px;
  --theme-light-background: #f4f5f8;
  --mobile-menu-item-indicator-bg-color: var(--theme-color2);
  --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
}

.App {
  text-align: center;
  overflow: hidden auto;
  box-sizing: border-box
}

body {
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
}

li, a{
  text-decoration: none;
  list-style: none;
  
}

.abbout-title {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  color: var(--link-color); 
  margin: 10px;
  letter-spacing: 1px;
  text-align: left;
}

.abbout-heading {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  text-align: left;
  color: #00255c;
  line-height: 1.5;
  margin: 10px;
}

.button1 {
  background: var(--link-color);
  color: white;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 13px;
  border: none;
}
.button2 {
  padding: 12px 30px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button2:hover {
  background: #0056b3;
}

 .button3 {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
  display: inline-block;
  margin: 10px;
  animation: fadeIn 1.5s ease-in-out;
}

.button3 :hover {
  text-decoration: underline;
  background: var(--headings);
}

.fixed-message-icon ,.scroll-to-top{
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: fixed;
  background: var(--link-color);
  z-index: 2222;
}

/* Scroll to Top Button */
.scroll-to-top {
  bottom: 100px;
  opacity: 0.7;
  border: 0.5px solid grey;
  color: white;
  font-size: 16px;
  
}

.scroll-to-top:hover {
  opacity: 1;
}

/* Fixed Position Container */
.fixed-message-icon {
  bottom: 5px;
  animation: blink-border 1.5s infinite; 
  border: 4px solid transparent; 
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.6); 
}

/* Icon Style */
.message-icon {
  font-size: 20px;
  color: #fff;
}

/* Keyframes for Blinking Double Border */
@keyframes blink-border {
  0% {
    border-color: rgba(255, 255, 255, 1); 
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  }
  50% {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1); 
  }
  100% {
    border-color: rgba(255, 255, 255, 1); 
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  }
}

/* Hover Effect */
.fixed-message-icon:hover {
  cursor: pointer;
  animation: none; 
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.9);
  border: 4px solid #ff7300; 
}



