.App {
  text-align: center;
}
body {
  font-family: var(--body-font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
li, a{
  text-decoration: none;
  list-style: none;
  
}

.side-box {
  bottom: 80px;
}
.side-box, .side-box2, .scroll-to-top{
  position: fixed;
  border: 0.5px solid grey;
  background: #ff0000;
  z-index: 2222;
  color: white;
  font-size: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 5px;
  width: 50px;
  height: 50px;
}

.side-box2{
  bottom: 20px;
}
.side-box:hover, .side-box2:hover{
   background: rgb(82, 5, 82);
}

/* Scroll to Top Button */
.scroll-to-top {
  bottom: 150px;
  border-radius: 50%;
  height: 50px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0.7;
}

.scroll-to-top:hover {
  opacity: 1;
}
button, a{
  text-decoration: none;
}

::-webkit-scrollbar{
  width: 1px;
  height: 10px;
}




@media screen and (max-width: 768px) {
  li, a,h1,h2, h3, h4, h5, p{
    text-decoration: none;
    list-style: none;
    font-family: "montserrat, poppins ";
  }
}

:root {
  
  --body-font-family: "DM Sans", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-font-bold: 600;
  --text-color: #5d666f;
  --link-color: #fd413b;
  --link-hover-color: #5b8c51;
  --entry-meta-color: #819291;
  --headings: #00255c;
  --btn-font-size: 14px;
  --theme-light-background: #f4f5f8;
  --mobile-menu-item-indicator-bg-color: var(--theme-color2);
  --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
}
