/* App.css */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.my-component, .hotel, .tour, .bg-home, .navbar, .about, .tour-page, .footer {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Montserrat', sans-serif;
}
